PUID=1000
PGID=1000
TZ=America/New_York
PORT=8211
QUERY_PORT=27015
PLAYERS=16
UPDATE_ON_BOOT=true
ADMIN_PASSWORD=palmap-integration
SERVER_PASSWORD=worldofpals
SERVER_NAME=Palmap Integration Server
SERVER_DESCRIPTION=Local Palmap collector integration environment
COMMUNITY=false
